/* Cabecera*/
header{
    display: flex;
    height: 75px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Body*/
body{
    margin: 0;
    padding: 0;
    background: #d4d4d4;
    font-family: sans-serif;
}

/*----------------------------SECCION - ACTIVIDADES--------------------------------*/

/*Titulo*/
/*------------------------------------------*/
.Titulo-Actividades{
    text-align: center;
    font-size: 30px;
    transform: translate(0%, 50%);
}

a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding: 15px;    
    margin: auto;
    text-align: center;
}

a button{
    color: white;
    background-color: rgb(18, 11, 122);
    border-radius: 5px;
    width: 115px;
    height: 55px;
    cursor: pointer;
    margin-right: 40px;
    border-color: none;
    transition: .2s;
}

/*Contenedores*/
/*--------------------------------------------------*/
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
.Contenedores{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 3%);
}

.Contenedores button
{
    font-size: 20px;
    color: white;
    background-color: rgb(190, 20, 247);
    position: relative;
    border-radius: 10px;
    cursor: pointer;  
}



/*Contenedor 1*/
.Contenedores .Contenedor-1{
    align-items: center;
    justify-content: center;
}

.Contenedor-1 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    transform: translate(-25%, 50%);
}

/*Contenedor 2*/
.Contenedores .Contenedor-2{
    align-items: center;
    justify-content: center;
}

.Contenedor-2 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    transform: translate(-25%, -50%);
}


/*Contenedor 3*/
.Contenedores .Contenedor-3{
    align-items: center;
    justify-content: center;
}

.Contenedor-3 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    transform: translate(-25%, -150%);
}

/*Contenedor 4*/
.Contenedores .Contenedor-4{
    align-items: center;
    justify-content: center;
}

.Contenedor-4 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    transform: translate(-25%, -250%);
}


/*-------Botones Subir Tarea----------*/
.B1-AE{
    transform: translate(325%, -80%);
    width: 150px;
    height: 50px;  
}

.B1-AE:hover
{
    color: white;
    background-color: rgb(17, 150, 150);
    width: 150px;
    height: 50px;
}

.B2-AE{
    transform: translate(325%, -180%);
    width: 150px;
    height: 50px;  
}

.B2-AE:hover
{
    color: white;
    background-color: rgb(17, 150, 150);
    width: 150px;
    height: 50px;
}

.B3-AE{
    transform: translate(325%, -280%);
    width: 150px;
    height: 50px;  
}

.B3-AE:hover
{
    color: white;
    background-color: rgb(17, 150, 150);
    width: 150px;
    height: 50px;
}

.B4-AE{
    transform: translate(325%, -380%);
    width: 150px;
    height: 50px;  
}

.B4-AE:hover
{
    color: white;
    background-color: rgb(17, 150, 150);
    width: 150px;
    height: 50px;
}
/*--------------------------------------*/

.LogoUleam{
    display: flex;
}
.LogoUleam img{
    margin-left: 40px;
    height: 80px;
    width: 285px;
}

.LogoUleam2 img{
    align-content: center;
    height:60px;
    width: 190px;
}

/*Boton Regresar*/
/*------------------------------------------------*/
.B5-AE{
    position: relative;
    color: white;
    background-color: rgb(190, 20, 247);
    border-radius: 5px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    border-color: none;
    transition: .2s;
    font-size: 20px;
    transform: translate(100%, -300%);
}

.B5-AE:hover{
    background-color: rgb(17, 150, 150);
    width: 200px;
    height: 60px;
    transition: .2s;
}
/*------------------------------------------------*/


/*footer*/
footer{
    margin-top: 40px;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: #232325;
    padding-top: 30px;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.navv a{
    text-decoration: none;
    color: rgb(231, 228, 228);
    display:contents;
    padding: 15px;
    margin: auto;
    text-align: center;
    cursor: none;
    font-family: Arial, Helvetica, sans-serif;
}
